server:
  port: 8040
spring:
  application:
    name: microservice-config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/shitongtong/spring-cloud-microservice-study #配置git仓库地址
          search-paths: config-repo   # git仓库地址下的相对地址，可以配置多个，用,分割。
